main h1 {
  margin-bottom: 1rem;
}

#idBtnAddTask {
  position: fixed;
  right: 5rem;
  bottom: 5rem;
}

.main-content {
  display: flex;
  gap: 2rem;
}

.main-content app-task-list {
  width: 70%;
}

.main-content app-filter-panel {
  max-width: 30%;
}