<div class="container-a">
    <main class="">
        <form #form id="id-sign-in-sign-up" class="form-sign-in overflow-y-auto">
            <div>
                @if(isSignIn){
                <h1> {{ 'login' | translate }} </h1>
                }@else {
                <h1> {{ 'register' | translate }} </h1>
                }
            </div>
            <div style="width: 100%;" class="d-flex flex-column">
                <app-input #inpEmail label="{{ 'email' | translate}}" [(model)]="user.email"></app-input>

                <app-input #inpPassword type="password" label="{{ 'password' | translate}}"
                    [(model)]="user.password"></app-input>

                @if(!isSignIn){
                <app-input #inpConrfirmPassword type="password" label="{{ 'confirmPassword' | translate}}"
                    [(model)]="user.confirmPassword"></app-input>
                }
            </div>
            <div style="height: 25%; width: 100%;" class="d-flex align-items-center flex-column justify-content-evenly">
                @if(isSignIn){
                <button style="width: 100%; height: 3rem;" class="btn btn-primary rounded-5 my-1" (click)="onClickLogin()">
                    {{ 'signIn' | translate }}
                </button>
                <a href="" class="link-underline-light">
                    {{ 'forgotPassword' | translate }}
                </a>
                }@else {
                <button style="width: 100%; height: 3rem;" class="btn btn-primary rounded-5 my-1"
                    (click)="onClickRegister()">
                    {{ 'signUp' | translate }}
                </button>
                }
            </div>
            <div>
                @if(isSignIn){
                <p class="my-1">
                    {{ 'DontHaveAnAccount' | translate }}
                    <a href="#" class="link-underline-light" (click)="onClickTextSignUpSignIn(form, image)"> {{
                        'signUp' | translate }} </a>
                </p>
                }@else {
                <p class="my-1">
                    {{ 'alreadyHasAnAccount' | translate }}
                    <a href="#" class="link-underline-light" (click)="onClickTextSignUpSignIn(form, image)"> {{
                        'signIn' | translate }} </a>
                </p>
                }
            </div>
        </form>
        <img #image src="../../../assets/images/background_image.jpg" />
    </main>
</div>
<app-toast></app-toast>