<main>
    <figure>
        <img src="assets/images/background_image.jpg" alt="banner">
    </figure>

    <form id="idFormLogin" [formGroup]="formLogin" (ngSubmit)="onClickLogin()">
        <h1>{{'login.title' | translate}}</h1>
        <div>
            <div class="controls">
                <!-- Email -->
                <mat-form-field class="compact-form-field" appearance="outline">
                    <mat-label>{{'login.fields.email' | translate}}</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email" required />

                    @if (formLogin.get('email')?.invalid && formLogin.get('email')?.touched) {
                    <mat-error>
                        @if (formLogin.get('email')?.hasError('required')) {
                        {{'login.validations.email.required' | translate}}
                        }
                        @else if (formLogin.get('email')?.hasError('email')) {
                        {{'login.validations.email.format' | translate}}
                        }
                    </mat-error>
                    }
                </mat-form-field>

                <!-- Senha -->
                <mat-form-field class="compact-form-field" appearance="outline">
                    <mat-label>{{'login.fields.password' | translate}}</mat-label>
                    <input #inputPassword matInput formControlName="password" type="password" required />
                    <button class="circular-icon-button" mat-icon-button matSuffix
                        (click)="togglePassword(inputPassword)" type="button">
                        <mat-icon>{{ inputPassword.type === 'password' ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>

                    @if (formLogin.get('password')?.invalid && formLogin.get('password')?.touched) {
                    <mat-error>
                        @if (formLogin.get('password')?.hasError('required')) {
                        {{'login.validations.password.required' | translate}}
                        }
                        @else if (formLogin.get('password')?.hasError('minlength')) {
                        {{'login.validations.password.minlength' | translate}}
                        }
                    </mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="butons">
                <button type="submit" form="idFormLogin" matButton="filled">{{'signIn' | translate}}</button>
                <button type="button" (click)="onClickRegister()" matButton="outlined">{{'signUp' | translate}}</button>
            </div>
        </div>
    </form>
</main>