<h2 mat-dialog-title>{{ "common.add" | translate }}</h2>
<mat-dialog-content>
  <!-- Titulo -->
  <mat-form-field class="compact-form-field" appearance="outline">
    <mat-label>{{ "todoList.fields.title" | translate }}</mat-label>
    <input matInput placeholder="{{ 'todoList.placeholders.title' | translate }}" [formControl]="title" required />

    @if (title.invalid && title.touched) {
    <mat-error>
      @if (title.hasError('required')) {
      {{ "todoList.validations.title.required" | translate }}
      }
      @if (title.hasError('maxLength')) {
      {{ "todoList.validations.title.maxLength" | translate }}
      }
    </mat-error>
    }
  </mat-form-field>

  <!-- Prioridade -->
  <mat-form-field appearance="outline" class="compact-form-field">
    <mat-label>{{ "todoList.fields.priority" | translate }}</mat-label>
    <mat-select [formControl]="priority" required="">
      <mat-option [value]="priorityEnum.Low">{{ 'enums.priority.low' | translate }}</mat-option>
      <mat-option [value]="priorityEnum.Medium">{{ 'enums.priority.medium'| translate }}</mat-option>
      <mat-option [value]="priorityEnum.High">{{ 'enums.priority.high'| translate }}</mat-option>
    </mat-select>

    @if (priority.invalid && priority.touched) {
    <mat-error>
      @if (priority.hasError('required')) {
      {{ 'todoList.validations.priority.required' | translate }}
      }
    </mat-error>
    }
  </mat-form-field>

  <!-- Status -->
  <mat-form-field appearance="outline" class="compact-form-field">
    <mat-label>{{ "todoList.fields.status" | translate }}</mat-label>
    <mat-select [formControl]="status" required="">
      <mat-option [value]="statusEnum.NotStarted">{{ 'enums.status.notStarted' | translate }}</mat-option>
      <mat-option [value]="statusEnum.InProgress">{{ 'enums.status.inProgress' | translate }}</mat-option>
      <mat-option [value]="statusEnum.Completed">{{ 'enums.status.completed' | translate }}</mat-option>
    </mat-select>

    @if (status.invalid && status.touched) {
    <mat-error>
      @if (priority.hasError('required')) {
      {{ "todoList.validations.status.required" | translate }}
      }
    </mat-error>
    }
  </mat-form-field>

  <!-- Descrição -->
  <mat-form-field appearance="outline" class="compact-form-field">
    <mat-label>{{ "todoList.fields.description" | translate }}</mat-label>
    <textarea [formControl]="description" placeholder="{{ 'todoList.placeholders.description' | translate }}"
      matInput></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button matButton mat-dialog-close>{{ "common.cancel" | translate }}</button>
  <button matButton cdkFocusInitial (click)="onClickSave()">{{ "common.save" | translate }}</button>
</mat-dialog-actions>