@if (messageBox.modalData()) {
<div class="modal show d-block" tabindex="-1" role="dialog" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ messageBox.modalData()?.title }}</h5>
                <button type="button" class="btn-close" (click)="messageBox.close()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @for (message of messageBox.modalData()?.message; track $index) {
                <p>{{ message }}</p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="messageBox.confirm()">OK</button>
                <button type="button" class="btn btn-secondary" (click)="messageBox.close()">Cancel</button>
            </div>
        </div>
    </div>
</div>
}