<form id="idFormUpdatePassword" [formGroup]="formPassword" (ngSubmit)="onClickSavePassword()">
    <div class="fields">
        @if (formPassword.enabled) {
        <!-- Senha atual -->
        <mat-form-field class="compact-form-field" appearance="outline">
            <mat-label>{{'userEdit.fields.currentPassword' | translate}}</mat-label>
            <input #currentPassword matInput formControlName="currentPassword" type="password" required />
            <button class="circular-icon-button" mat-icon-button matSuffix (click)="togglePassword(currentPassword)"
                type="button">
                <mat-icon>{{ currentPassword.type === 'password' ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>

            @if (formPassword.get('currentPassword')?.invalid && formPassword.get('currentPassword')?.touched) {
            <mat-error>
                @if (formPassword.get('currentPassword')?.hasError('required')) {
                {{'userEdit.validations.password.required' | translate}}
                }
                @else if (formPassword.get('currentPassword')?.hasError('minlength')) {
                {{'userEdit.validations.password.minlength' | translate}}
                }
                @else if (formPassword.get('currentPassword')?.hasError('maxlength')) {
                {{'userEdit.validations.password.maxlength' | translate}}
                }
            </mat-error>
            }
        </mat-form-field>
        }

        <!-- Nova senha -->
        <mat-form-field class="compact-form-field" appearance="outline">
            <mat-label>{{'userEdit.fields.newPassword' | translate}}</mat-label>
            <input #newPassword matInput formControlName="newPassword" type="password" required />
            <button class="circular-icon-button" mat-icon-button matSuffix (click)="togglePassword(newPassword)"
                type="button">
                <mat-icon>{{ newPassword.type === 'password' ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>

            @if (formPassword.get('newPassword')?.invalid && formPassword.get('newPassword')?.touched) {
            <mat-error>
                @if (formPassword.get('newPassword')?.hasError('required')) {
                {{'userEdit.validations.password.required' | translate}}
                }
                @else if (formPassword.get('newPassword')?.hasError('minlength')) {
                {{'userEdit.validations.password.minlength' | translate}}
                }
                @else if (formPassword.get('newPassword')?.hasError('maxlength')) {
                {{'userEdit.validations.password.maxlength' | translate}}
                }
            </mat-error>
            }
        </mat-form-field>

        @if (formPassword.enabled) {
        <!-- Confirmação de senha -->
        <mat-form-field class="compact-form-field" appearance="outline">
            <mat-label>{{'userEdit.fields.confirmNewPassword' | translate}}</mat-label>
            <input #confirmNewPassword matInput formControlName="confirmNewPassword" type="password" required />
            <button class="circular-icon-button" mat-icon-button matSuffix (click)="togglePassword(confirmNewPassword)"
                type="button">
                <mat-icon>{{ confirmNewPassword.type === 'password' ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>

            @if (formPassword.get('confirmNewPassword')?.invalid && formPassword.get('confirmNewPassword')?.touched) {
            <mat-error>
                @if (formPassword.get('confirmNewPassword')?.hasError('required')) {
                {{'userEdit.validations.password.required' | translate}}
                }
                @else if (formPassword.get('confirmNewPassword')?.hasError('minlength')) {
                {{'userEdit.validations.password.minlength' | translate}}
                }
                @else if (formPassword.get('confirmNewPassword')?.hasError('maxlength')) {
                {{'userEdit.validations.password.maxlength' | translate}}
                }
            </mat-error>
            }
        </mat-form-field>
        }
    </div>
</form>

<!-- Botões -->
@if (formPassword.enabled) {
<button class="btn-field" matButton="filled" type="submit"
    form="idFormUpdatePassword">{{'common.save'|translate}}</button>
}@else {
<button class="btn-field" matButton="text" (click)="onClickEditing()">{{'common.edit'|translate}}</button>
}