:host {
    display: flex;
    align-items: center;
    width: 100%;
}

form {
    width: 100%;
}

.fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.btn-field {
    width: 10rem;
    margin-left: 1rem;
    margin-bottom: 1.2rem;
}

.circular-icon-button {
    background: none;
    border: none;
    margin-right: 0.5rem;
    cursor: pointer;
    align-items: center;
    display: flex;
}